@import "../../index.css";

.DeleteModal {
    width: 900px;
    height: 449px;
    background: #fff;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 175px;
    z-index: 10;
}

.alinhamentoModalDelete {
    width: 900px;
    height: 10px;
    background: #101010;
    padding: 20px 30px 20px 20px;
}

.cardTxtDelete h1 {
    font-size: 40px;
    font-family: 'Inter';
    color: #000;
    margin: 0 0 100px 0;
}

.alinhamentoBtnModal {
    display: flex;
    justify-content: center;
}

.btnVoltarModal {
    width: 120px;
    height: 49px;
    background-color: #FFC107;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.btnVoltarModal:hover {
    color: #000000;
}

.btnDeleteModal {
    width: 120px;
    height: 49px;
    background-color: red;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.btnDeleteModal:hover {
    color: black;
}