@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
@import '../../index.css';

.seta{
    padding: 8px;
    box-shadow: 2px -2px 0 1px #000 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
    cursor: pointer;
}

.h1-registros{
    font-size: 32px;
    font-family: 'Inter';
    color:#152536;
    font-weight: bolder;
    margin: 25px 0 10px 0;
}

/* Divs de status (Editar e excluir) */

.pacotes_edicao{
    margin-bottom: 22px;
}

.p-nome-status
{
    color:#152536;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 900;
}


.descricao_status
{
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #6C757D;
    width: 505px;
    overflow-wrap: break-word;
}


.email-status
{
    font-family: 'Inter';
    font-size: 13px;
    margin-bottom: 37px;
    color: #000;
    font-weight: bolder;
}

.alinhamento_div_pacote{
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    font-family: 'Inter';
    width: 1233px;
    height: 263px;
    margin-top: 16px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.div_position_pacotes
{
    margin-left: 63px;
}

.buttons{
    display: inline-flex;
}

.button_excluir{
    width: 78px;
    height: 39px;
    margin-left: 20px;
    background-color:#DC3545;
    border-radius: 4px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    border: 1px;
    cursor: pointer;
    font-size: 16px;
}

.button_editar{
    width: 78px;
    height: 39px;
    background-color: #FFC107;
    border-radius: 4px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    border: 1px;
    cursor: pointer;
    font-size: 16px;
}
.button_editar:hover{
    color: #152536;
}

.button_excluir:hover{
    color: #152536;
}

.button__editar{
    width: 109px;
    height: 39px;
    background-color: #FFC107;
    border-radius: 4px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    border: 1px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 72px;
    font-size: 16px;
}

.botao_editar:hover,
.button__editar:hover{
    color: #152536;
}

/* modal */

.fundo_escurecido_modal{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    right: 0;
    left: 0; 
    top: 0;
    bottom: 0;
    position: fixed;
}

.fundo_escurecido{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    right: 0;
    left: 0; 
    top: 0;
    bottom: 0;
    position: fixed;
}

.background_hide{
    display: none;
}